
!*.sv
!*.m
!*.xpr

*.pb
*.log
*.ini
*.rlx
*.sdb
*.xdbg
*.exe
*.rtti
*.reloc
*.tcl
*.wdb
*.prj
*.bat
*.wpc
*.wdf
*.lpr
*.jou
*.obj
*.info
*.wdm
*.dbg
*.mem
*.type
*.svtype
*.bin
*.asv
*.xml
*.rpt
*.vds
*.js
*.dcp
*.rst
*.udo
*.qdb
*.qpg
*.qtl
*.wlf
*.do
*.sh
*.mat
